<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetailController</servlet-name>
        <servlet-class>controllers.EventDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyResgistration</servlet-name>
        <servlet-class>controllers.MyResgistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRegistration</servlet-name>
        <servlet-class>controllers.CancelRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRankController</servlet-name>
        <servlet-class>controllers.MyRankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunnerProfileController</servlet-name>
        <servlet-class>controllers.RunnerProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetailController</servlet-name>
        <url-pattern>/eventdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyResgistration</servlet-name>
        <url-pattern>/myregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRegistration</servlet-name>
        <url-pattern>/cancel-registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRankController</servlet-name>
        <url-pattern>/myrank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunnerProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
</web-app>
